header {
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:2px;
  margin-bottom:2em;
  width:615px;
}

h1 {
  font-size:2em;
  line-height:1.5em;
  margin:0;
}

p {
  line-height:1.5em;
}

p.byline {
  color:#777777;
  margin-top:0;
}