%h2 Best Match
- best = @similarities.shift
%img{src: "/images/epigyna/" + best.first, width: 400}

%h3 Other Potential Matches
- @similarities.each do |similar|
  %img{src: "/images/epigyna/" + similar.first, width: 200}